<h1 class="text-5xl text-center">Sign in</h1>
<main class="text-center py-2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat aspernatur, deleniti nihil sit eveniet culpa labore quibusdam debitis reprehenderit quos voluptatem. Quaerat sequi dolor sunt deleniti, maiores necessitatibus fugit itaque odio perspiciatis possimus. Officiis deserunt quas inventore culpa, ex aperiam vero repellat libero enim quia maiores modi tempore, alias voluptas.</p>
</main>

<firebase-ui></firebase-ui>