
<main class="flex justify-center m-4 items-center flex-col">
    <h1 class="text-4xl text-center">Welcome</h1>
    <section class="w-1/2 p-2 text-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ab facilis praesentium vero at corrupti qui autem! Repellendus deleniti, enim rerum deserunt eaque, sed et eum dolorum ex fugiat nostrum?</p>
        <br>
        <button class="btn btn-outline-primary btn-lg" (click)="toRegistration()">Let's Begin</button>
    </section>
</main>
