.profile-image {
    width: 10rem;
    padding: 1rem 0;
}

label {
    background-color: #3e7d5c;
    color: #FFF;
    // padding: 0.5rem;
    font-size: 0.6rem;
    // border-radius: 0.3rem;
    cursor: pointer;
    input {
        display: none;
    }
}