<h1 class="text-3xl">Profile</h1>

<main class="flex flex-col justify-start w-2/12">
    <div class="profile-avatar">
        <img class="profile-image" [src]="profileImage">
        
        <label class="btn" for="profile-photo">
            Choose a profile Photo
            <input type="file" class="btn btn-outline-success btn-xs" (change)="openDialog($event)" id="profile-photo">
        </label>
        <p class="pt-2 text-center text-xs">Change Notifcation Settings</p>
        <input type="checkbox" class="switch switch-success switch-ghost-success" (change)="onCheckChange($event)"
            [checked]="false" />
    </div>
    <div class="details">
        <p>E-mail</p>
        <p>{{userEmail}}</p>
        <br />
        <p>Change Display name:</p>
        <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" [(ngModel)]="userDisplayName" name="userDisplayName" />
        <button class="btn btn-outline-success btn-xs my-1" (click)="changeDisplayName()">Save Name</button>
    </div>
</main>